/* navigation bar (fixed) background and formatting */
nav {
  background-color: #4056A1;
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 9999;
}

/* Tweeter logo text font */
.logo {
  font-family: 'Bungee', cursive;
  font-size: xxx-large;
}

/* write a new tweet text and arrow icon formatting */
.nav-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: x-large;
}