/* form container margin */
.new-tweet {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
}

/* Tweet button and counter spacing */
.button-counter-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
}

/* width for the form box */
.form-bar {
  width: 100%;
}

/* styling for the form box with line at bottom */
#tweet-text {
  width: 100%;
  background: transparent;
  resize: none;
  font-weight: bold;
  padding-bottom: 0.5em;
  border: none;
  border-bottom: 5px solid #545149;
}

/* placeholder text color */
#tweet-text::placeholder {
  color: #545149;
}

/* gets rid of the blue outline around form */
#tweet-text:focus {
  outline: none;
}

/* Tweet button */
.new-tweet button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  border: 0em;
  padding: 0.2em 0.6em;
}

/* counter text */
.counter {
  font-family: 'Bungee', cursive;
}

/* counter color change to red if exceeded character limit */
.exceed-limit {
  color: #ff1200;
}

/* error message styling */
.error-message-max {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid #ff1200;
  margin-bottom: 2em;
}

/* margin around error message */
.error-message-max p {
  margin: 0;
}

/* spacing between icons and error message*/
.error-message-max i {
  padding: 0.5em;
}


/* error message styling */
.error-message-null {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid #ff1200;
  margin-bottom: 2em;
}

/* margin around error message */
.error-message-null p {
  margin: 0;
}

/* spacing between icons and error message*/
.error-message-null i {
  padding: 0.5em;
}